body{
    margin: 0;
    background-color: lightgreen;
}
.head{
    text-align: center;
    background-color: darkcyan;
    padding: 10px;
    margin-bottom: 30px;
    color: lightgreen;
}
.container{
    width: 700px;
    height: 450px;
    border: 2px solid black;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.form{
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
}
.input{
padding: 10px;
border-radius: 3px;
width: 300px;
margin: 10px auto;
}
.box{
    margin: 10px auto;
}
.btn{
    padding: 5px;
    border-radius: 5px;
    background-color: lightgreen;
    margin-right: 10px;
}
.error{
    color:red;
    display: none;
}